# ignore data files
data

# ignore bash scripts
*.sh

# ignore intermediate files
build
dist
*.egg-info

# ignore experimental results
exp
results

# ignore log files
log*

# ignore pycache
__pycache__

# ignore saved model
*.pkl
*.pt

# ignore hidden files
.*

# ignore vscode
.vscode
